/* ----- RESET GLOBAL ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* - SECCIÓN CONTACTO - */

.contacto {
  padding: var(--spacing-lg) var(--spacing-md);
  background-color: var(--color-bg);
}

/*  TÍTULO Y PÁRRAFO  */

.contacto .seccion-titulo h2 {

  text-align: center; 
  color: var(--color-primary);
  font-size: var(--font-size-h2); /* usa la variable */
  margin-bottom: var(--spacing-sm); 
  font-weight: 700; 
}

/* Inputs */
.contacto .form-control {
  border-radius: 8px;
  transition: all 0.2s ease;
}
.contacto .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0px 0px 8px rgba(13, 110, 253, 0.3);
}

/* Botón */
.contacto button {
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(13, 110, 253, 0.3);
}
.contacto button:hover {
  background-color: #0b5ed7;
  box-shadow: 0px 6px 14px rgba(13, 110, 253, 0.5);
}
