.bg-dark {
  background-color: var(--color-header-footer, #004080) !important;
}
/*
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: Arial, sans-serif;
}
*/

main h1,
main h2,
main h3 {
  color: var(--color-header-footer, #004080);
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

main p {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1rem;
  color: var(--color-texto-principal, #333333);
  line-height: 1.6;
}

main .container section {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: var(--color-fondo-seccion-claro, #fff7f0);
  border: 1px solid var(--color-borde, #dddddd);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main .container section:nth-child(odd) {
  background-color: var(--color-fondo-seccion-crema, #f9f5f0);
}

main .container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
}

.carousel-indicators .active {
  background-color: #007bff;
}

footer .bi {
  color: white;
}

.py-3 h1 {
  text-transform: uppercase;
}

main section:nth-of-type(odd) {
  background-color: #dbf0f8;
}

main section:nth-of-type(even) {
  background-color: #fff7f0;
}

.mision p {
  max-width: 280px;  
  margin: 0 auto; 
  text-align: center;
}
